@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
"Somos una empresa enfocada en la asesoría y suplementación deportiva, que busca dar acompañamiento a personas que gusten cuidar su salud"

“Start today, a goodlife awaits you”
</main>