<main>

    <div class="row">
        <div class="mt-4 p-5 bg-danger text-white rounded">
            <h1>Bienvenidos a suplementicos.com</h1>
            <p> suplementicos.com...</p>
        </div>
    </div>
</main>



