
@{
    ViewBag.Title = "Suplementos Adultos";
    Layout = "~/Views/Shared/_Layout_GeneralProductos.cshtml";
}

<h1 class="mt-4">Suplementos Adultos</h1>
<h3 class="text-center">Selecciona tus productos</h3>
<br>
<br>
<br>
<style>

    .btn-mas-info {
        font-size: 0.8rem; /* Ajusta el tamaño del botón */
        font-weight: bold; /* Hace que el texto del botón sea en negrita */
        background-color: #000000; /* Cambia el color de fondo del botón */
        color: #fff; /* Cambia el color del texto del botón a blanco */
        border: 1px solid #000000; /* Añade un borde al botón */
    }

        .btn-mas-info:hover {
            background-color: #fff; /* Cambia el color de fondo del botón al pasar el ratón */
            border: 1px solid #fff; /* Añade un borde al botón al pasar el ratón */
        }
</style>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="~/Views/Home/About.cshtml">
                <img src="~/imagenes/prote3.jpg" height="400" width="400" />
                <p>
                    Superior 14 Whey Core Protein
                    <br />
                    SUPERIOR 14
                    <br />
                    Desde ₡ 41.900,00

                    <a class="btn btn-light btn-mas-info stretched-link" href="#">COMPRAR</a>
                </p>


            </a>

        </div>

        <div class="col-sm">
            <a href="~/Views/Home/About.cshtml">
                <img src="~/imagenes/prote3.jpg" height="400" width="400" />
                <p>
                    Superior 14 Whey Core Protein
                    <br />
                    SUPERIOR 14
                    <br />
                    Desde ₡ 41.900,00

                    <a class="btn btn-light btn-mas-info stretched-link" href="#">COMPRAR</a>
                </p>

            </a>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a href="~/Views/Home/About.cshtml">
                        <img src="~/imagenes/prote3.jpg" height="400" width="400" />
                        <p>
                            Superior 14 Whey Core Protein
                            <br />
                            SUPERIOR 14
                            <br />
                            Desde ₡ 41.900,00

                            <a class="btn btn-light btn-mas-info stretched-link" href="#">COMPRAR</a>
                        </p>

                    </a>

                </div>

                <div class="col-sm">
                    <a href="~/Views/Home/About.cshtml">
                        <img src="~/imagenes/prote3.jpg" height="400" width="400" />
                        <p>
                            Superior 14 Whey Core Protein
                            <br />
                            SUPERIOR 14
                            <br />
                            Desde ₡ 41.900,00

                            <a class="btn btn-light btn-mas-info stretched-link" href="#">COMPRAR</a>
                        </p>

                    </a>

                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <a href="~/Views/Home/About.cshtml">
                                <img src="~/imagenes/prote3.jpg" height="400" width="400" />
                                <p>
                                    Superior 14 Whey Core Protein
                                    <br />
                                    SUPERIOR 14
                                    <br />
                                    Desde ₡ 41.900,00

                                    <a class="btn btn-light btn-mas-info stretched-link" href="#">COMPRAR</a>
                                </p>

                            </a>

                        </div>

                        <div class="col-sm">
                            <a href="~/Views/Home/About.cshtml">
                                <img src="~/imagenes/prote3.jpg" height="400" width="400" />
                                <p>
                                    Superior 14 Whey Core Protein
                                    <br />
                                    SUPERIOR 14
                                    <br />
                                    Desde ₡ 41.900,00

                                    <a class="btn btn-light btn-mas-info stretched-link" href="#">COMPRAR</a>
                                </p>

                            </a>

                        </div>



                        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
